@import "../utils/variables";

    body {
        margin: 0px;
    }

    
    .header-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        position: relative;
    }

    .header-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 1rem;
    }

    .header-photo img {
        width: 100%;
    }

    .menu {
        border: 1px solid white;
        background: #f2f2f2;
        border-radius: 2rem 2rem 0px 0px;
        position: relative;
        top: -2rem;
        margin-bottom: -2rem;

        h2 {
            margin-left: 1rem;
            font-weight: normal;
            border-bottom: 2px solid $colour-terciary;
            width: 3rem;
        }
    }

    .menu-header {
        display: flex;
        justify-content: space-between;
        padding-right: 2rem;
    }

    .menu-icon {
        display: flex;
        align-items: center;
    }

    .menu h1 {
        font-family: 'Shrikhand';
        margin-left: 1rem;
    }

    .case {
        border: 1px solid white;
        border-radius: 10px;
        background-color: white;
        margin: 1rem 1rem;
        padding: 0 0.5rem;
        box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
        animation: itemAppear 6s;
        overflow: hidden;
        cursor: pointer;
        animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
        animation-fill-mode: both;
        transform: scale(0);

        h3 {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .case-confirmation:hover {
            background-color: $colour-terciary;
            width: 4rem;
            display:flex;
            align-items:center;
            justify-content:center;
            transition-duration: 0.5s;
            position: absolute;
            top: 0px;
            right: -4px;
            height: 3rem;

        }

        .case-header {
            position: relative;
        }

        .case-confirmation:hover {
            margin-right: -1rem;
        }

        .menu-plat-icon:hover {
            transform: rotate(0);
        }
    }

    .details {
        display: flex;
        margin-bottom: 0.5rem;
        justify-content: space-between;
    }

    .bottom-button {
        border-radius: 2rem;
        border: 0px solid $colour-primary;
        background: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
        padding: 1rem;
        color: white;
        margin-bottom: 2rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }


.menu-plat-icon:hover {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;
}


.price {
    animation: slide 1s;
    animation-fill-mode: forwards;
}

.fa-check-circle:hover {
    animation: rotation 1s;
}

.submenu {
    &::after {
        content: "";
        width: 3rem;
        height: 0.25rem;
        background-color: $colour-terciary;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}




footer {
    padding: 1rem 1rem;
    background-color: black;

    .footer-logo  {
        color: white;
        font-family: 'Shrikhand';
        font-size: 1.5rem;
    }
    .footer-item {
        color: white;
    }

    .footer-row-icon {
        color: white;
        margin-right: 1rem;
    }

    .footer-row--1 {
        display: flex;
    }

}
